*{
    font-family: arial;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    display: flex;
    justify-content: center;
    color: #fff;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgb(145, 145, 145);
}
.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
}
.contact_acount{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li a{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    margin: 0px 2px;
}
nav .active a, nav a:hover{
    color: #fff;
    background-color: #ec2029;
    border-radius: 3px;
}
.acount{
    display: flex;
    align-items: center;
}
.acount_login a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-family: arial;
}
.acount_login a:hover{
    border-bottom: 2px solid #000;
}
.acount_bar{
    background-color: #000;
    width: 3px;
    height: 30px;
    margin: 10px;
}
.acount_creat_count a{
    color: #000;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-family: arial;
}
.acount_creat_count a:hover{
    border-top: 2px solid #000;
}
#banner{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background-image: url(../img/nbabanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.column{
    flex-direction: column;
}
.title_banner{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.title_banner h1{
    color: 000;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}
.title_banner h2{
    color: 000;
    font-size: 21px;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
}
.menu_banner_config{
    display: flex;
    height: 210px;
}
.banner_options1,
.banner_options2,
.banner_options3{
    flex: 1;
    color: #fff;
    padding: 20px;
}
.banner_options1{
    background-color: rgb(59, 59, 59);
}
.banner_options2{
    background-color: rgb(39, 39, 39);
}
.banner_options3{
    background-color: rgb(32, 32, 32);
}
.banner_options_title{
    font-size: 21px;
}
.banner_options_desc{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu_banner_config a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 30px;
}
.widget_title_new{
    color: #000;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar{
    width: 50px;
    height: 3px;
    margin-top: 10px;
    background-color: #ec2029;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article .dates{
    display: flex;
    margin-bottom: 20px;
}
article .date_post_news{
    padding: 10px;
    color: #fff;
    font-family: arial;
    background-color: rgb(39, 39, 39);
    margin-right: 3px;
}
article .date_post_views{
    padding: 10px;
    color: #fff;
    font-family: arial;
    background-color: #ec2029;
}
article .img_art img{
    width: 100%;
    height: auto;
}
article .title_art{
    font-size: 21px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
}
article .desc_art{
    font-size: 13px;
    color: #7a7a7a;
    margin-bottom: 20px;
}
.widget_body_square{
    display: flex;
    justify-content: space-around;
}
.square{
    width: 150px;
    height: 150px;
    background-color: #7a7a7a;
    margin-bottom: 15px;
}



.widget_body_store{
    display: flex;
    justify-content: space-around;
}
.intem_store{
    display: flex;
    flex-direction: column;
}
.intem_store{
    width: 150px;
    height: 200px;
    background-color: #ffffff;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #ececec;
}
.title_store{
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
.title_store span{
    font-size: 11px;
    color: #000;
}
.valor_intem{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.buy_store{
    display: flex;
    justify-content: center;
}
.buy_store a{
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 10px;
    background-color: rgb(39, 39, 39);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    margin-top: 20px;
}
.footer_options{
    display: flex;
    flex: 1;
}
.fm_1,
.fm_2,
.fm_3{
    flex: 1;
    color: #fff;
    padding: 20px;
}
.fm_1{
    background-color: rgb(59, 59, 59);
}
.fm_2{
    background-color: rgb(39, 39, 39);
}
.fm_3{
    background-color: rgb(32, 32, 32);
}
.fm_1_title{
    font-size: 21px;
}
.fm_1_desc{
    font-size: 14px;
    margin-top: 20px;
}
.color{
    color: #fff;
}
.contact_NBA_footer{
    display: flex;
    flex: 1;
}
.flex1{
    flex: 1;
}
.nba_presents_footer{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    color: #7a7a7a;
}
.NBA_region_number1{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px;
    color: #7a7a7a;
}
.nbaemail_contact{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px;
    color: #7a7a7a;
}
.img_nba_footer{
    margin-top: 20px;
    display: flex;
}
.inserir_email{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inserir_email_usu{
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
}
.inserir_email [type=text]{
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.inserir_email button{
    width: 300px;
    padding: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
.patrocionios_footer{
    display: flex;
    align-items: center;
}
.footer_directors{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #4d4d4d;
    color: #7a7a7a;
    font-size: 12px;
    margin-top: 20px;
}